html{
    scroll-behavior: smooth;
}

body {
    font-family: comic sans ms, cursive;
    margin: 0;
    padding: 0; 
}

.navbar{
    background-color: white;
    padding: 8px 0px;
    display: flex;
    justify-content: center;
}

.navbar ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.navbar ul li{
    margin-right: 20px;
} 

.navbar ul li a{
    text-decoration:none;
    background-color: white;
    border: none;
    color: black;
    border-radius: 30px;
    padding: 15px 15px;
    padding-top: 3px;
    padding-bottom: 3px;
    transition: background-color 0.3s ease;
}

.navbar ul li a:hover{
    background-color: #73BCDF;
}

.logo img{
    height: 40px;
    width: auto;
}

.homePageContent{
    padding: 10px;
    margin-bottom: 20px;
}

.homePageContent ul{
    list-style-type:none ;
    margin-bottom: -140;
}

.homePageContent ul li{
    display: inline-block;
    vertical-align: top;
    margin-right: 20px;
}

.homePageContent a{
    background-color: #71B184;
    text-decoration: none;
    color: black;
    border-radius: 20px;
    margin-left: -5;
    padding: 7px 7px;
    transition: background-color 0.3s ease;
}

.homePageContent a:hover{
    background-color: #616569;
}

.full-height {
    height: 100vh; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

#home{
    background-color:white;
    background-size: cover; 
    background-position: center; 
}

.box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 600px;
    height: 375px;
    background: black;
    overflow: hidden;
}

.figure{
    width: 100%;
    height: 100%;
}

.figure img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center top;
    transition: .5s;
}

.box:hover .figure img{
    transform: rotate(-10deg) scale(1.3);
    opacity: .5;
}

.caption{
    position: absolute;
    top: 170px;
    left: 40px;
    border: 40px;
    right: 40px;
    
}

.aboutt{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    padding: 20px;
    text-align: center;
    opacity: 0;
    transition: .5s;
}

.box:hover .aboutt{
    opacity: 1;
}

.aboutt p{
    color: white;
    margin: 10px 0;
    margin-top: 40px;
    padding: 0;
    font-size: 25px;
    line-height: 20px;
}

/* Features section styles */
#home {
    background-image: url('w1.png'); /* Background image */
    background-size: cover; /* Cover the entire section */
    background-position: center; /* Center the background image */
}

#about{
    background-image: url('s.png'); /* Background image */
    background-size: cover; /* Cover the entire section */
    background-position: center; /* Center the background image */
}

#goals{
    background-image: url('w1.png'); /* Background image */
    background-size: cover; /* Cover the entire section */
    background-position: center; /* Center the background image */
}

#branches{
    background-image: url('w2.png'); /* Background image */
    background-size: cover; /* Cover the entire section */
    background-position: center; /* Center the background image */
}

#companies{
    background-image: url('w1.png'); /* Background image */
    background-size: cover; /* Cover the entire section */
    background-position: center; /* Center the background image */
}

.cont{
    display: flex;
    
}
.ca{
    border-radius: 20%;
    margin-left: 50px;
    height: 200px;
    flex: 1;
    transition: 0.3s all ease;
    border-radius: 50px;
}
.ca:hover{
flex: 2;
transform: scale(1.1);
cursor: pointer;
}

/* Footer styles */
#footer {
    background-color:#71B184; /* Background color */
    color: #fff; /* Text color */
    padding: 20px; /* Padding */
    text-align: center; /* Center align text */
    position: -webkit-sticky; /* Fix the footer to the bottom of the page */
    left: 0;
    bottom: 0;
    width: 96.8%; /* Full width */
}

/* Footer paragraph styles */
#footer p {
    margin: 0; /* Remove default margin */
}

